In [1]:
import pandas as pd
import numpy as np

animal_df = pd.read_csv("C:\\Users\\Zachary_B\\Desktop\\dataset\\animals_center.csv")
animal_df.head(100)

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A845614,A845614,2021-11-13T19:31:00.000,2021-11-13T19:31:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby,NaN
1,A845625,A845625,2021-11-13T19:11:00.000,2021-11-13T19:11:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Brown Tabby,NaN
2,A845960,*Azul,2021-11-13T18:39:00.000,2021-11-13T18:39:00.000,2019-11-07T00:00:00.000,Transfer,Dog,Intact Male,2 years,Chihuahua Shorthair,Brown/Black,Out State
3,A714568,Pierre,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2013-10-25T00:00:00.000,Transfer,Dog,Neutered Male,8 years,Dachshund Wirehair/Chihuahua Shorthair,Tricolor,Out State
4,A845983,*Rojo,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2021-01-08T00:00:00.000,Transfer,Dog,Intact Male,10 months,Chihuahua Shorthair/Pug,Red/Black,Out State
...,...,...,...,...,...,...,...,...,...,...,...,...
95,A845211,NaN,2021-11-12T13:09:00.000,2021-11-12T13:09:00.000,2021-08-12T00:00:00.000,Adoption,Cat,Spayed Female,3 months,Domestic Shorthair,Blue Tabby,NaN
96,A845747,*Begonia,2021-11-12T13:05:00.000,2021-11-12T13:05:00.000,2020-12-04T00:00:00.000,Transfer,Dog,Intact Female,11 months,Great Pyrenees Mix,White,Partner
97,A846158,Marlo,2021-11-12T13:05:00.000,2021-11-12T13:05:00.000,2019-11-10T00:00:00.000,Return to Owner,Cat,Intact Female,2 years,Domestic Shorthair Mix,Blue/White,NaN
98,A842273,Angel,2021-11-12T13:05:00.000,2021-11-12T13:05:00.000,2020-09-13T00:00:00.000,Transfer,Dog,Spayed Female,1 year,Border Collie Mix,Black/White,Partner
99,A845746,*Hyacinth,2021-11-12T13:05:00.000,2021-11-12T13:05:00.000,2019-11-04T00:00:00.000,Transfer,Dog,Intact Female,2 years,Catahoula Mix,Blue Merle/White,Partner

In [2]:
import pandas as pd
import numpy as np
import requests  

url = 'https://data.austintexas.gov//resource/9t4d-g238.json'
response = requests.get(url)
animals = pd.DataFrame(response.json())
animals.head()

animals.to_csv('C:\\Users\\Zachary_B\\Desktop\\dataset\\animal_center.csv', index = False)
animals

,animal_id,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype,name
0,A846641,2021-11-23T10:10:00.000,2021-11-23T10:10:00.000,2021-09-21T00:00:00.000,Adoption,Dog,Neutered Male,2 months,Chihuahua Shorthair,Brown,NaN,NaN
1,A846694,2021-11-23T09:15:00.000,2021-11-23T09:15:00.000,2019-11-19T00:00:00.000,Euthanasia,Other,Unknown,2 years,Bat,Brown,Rabies Risk,NaN
2,A846918,2021-11-23T08:46:00.000,2021-11-23T08:46:00.000,2020-11-22T00:00:00.000,Euthanasia,Other,Unknown,1 year,Bat,Black,Rabies Risk,NaN
3,A846275,2021-11-22T18:17:00.000,2021-11-22T18:17:00.000,2021-07-12T00:00:00.000,Adoption,Cat,Neutered Male,4 months,Domestic Shorthair,Brown Tabby,NaN,*Koa
4,A846380,2021-11-22T17:49:00.000,2021-11-22T17:49:00.000,2021-09-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair,Black/White,NaN,Booty
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A844973,2021-10-27T09:36:00.000,2021-10-27T09:36:00.000,2019-10-23T00:00:00.000,Euthanasia,Other,Unknown,2 years,Raccoon,Black/Gray,Rabies Risk,NaN
996,A844981,2021-10-27T09:36:00.000,2021-10-27T09:36:00.000,2020-10-23T00:00:00.000,Euthanasia,Other,Unknown,1 year,Raccoon,Black/White,Rabies Risk,NaN
997,A845187,2021-10-27T08:28:00.000,2021-10-27T08:28:00.000,2019-10-26T00:00:00.000,Euthanasia,Other,Unknown,2 years,Bat,Red/Red,Rabies Risk,NaN
998,A845181,2021-10-27T08:27:00.000,2021-10-27T08:27:00.000,2019-10-26T00:00:00.000,Euthanasia,Other,Unknown,2 years,Bat,Brown/Brown,Rabies Risk,NaN
999,A843134,2021-10-26T19:12:00.000,2021-10-26T19:12:00.000,2019-09-27T00:00:00.000,Adoption,Dog,Spayed Female,2 years,American Pit Bull Terrier/Black Mouth Cur,Brown/Black,NaN,*Brianna

In [4]:
animal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   animal_id         1000 non-null   object
 1   name              832 non-null    object
 2   datetime          1000 non-null   object
 3   monthyear         1000 non-null   object
 4   date_of_birth     1000 non-null   object
 5   outcome_type      1000 non-null   object
 6   animal_type       1000 non-null   object
 7   sex_upon_outcome  1000 non-null   object
 8   age_upon_outcome  993 non-null    object
 9   breed             1000 non-null   object
 10  color             1000 non-null   object
 11  outcome_subtype   439 non-null    object
dtypes: object(12)
memory usage: 93.9+ KB

In [5]:
animal_df.describe()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
count,1000,832,1000,1000,1000,1000,1000,1000,993,1000,1000,439
unique,986,750,842,842,476,8,4,5,36,173,109,14
top,A844644,Luna,2021-10-25T09:00:00.000,2021-10-25T09:00:00.000,2021-08-24T00:00:00.000,Adoption,Cat,Neutered Male,2 years,Domestic Shorthair,Black/White,Partner
freq,2,8,5,5,17,554,477,363,176,317,107,187

In [6]:
animal_df['name'] = animal_df['name'].fillna('unnamed')

In [7]:
animal_df.isna().sum()

animal_id             0
name                  0
datetime              0
monthyear             0
date_of_birth         0
outcome_type          0
animal_type           0
sex_upon_outcome      0
age_upon_outcome      7
breed                 0
color                 0
outcome_subtype     561
dtype: int64

In [10]:
animal_df.fillna('no_type_or_subtype', inplace=True)

In [23]:
animals.isna().sum()

animal_id             0
datetime              0
monthyear             0
date_of_birth         0
outcome_type          0
outcome_subtype     581
animal_type           0
sex_upon_outcome      0
age_upon_outcome      0
breed                 0
color                 0
name                165
dtype: int64

### applying and using map and applymap frompandas library

In [19]:
def divisible_by_5(number):
    
    ...
    ###parameter:an integer
    ###return numbers divisible by 5
    ...
    
    if number% 5 == 0:  
        return True
    else:
        return False
    
    number = [17, 29, 30045, 125]
    list(map(divisible_by_5, numbers))

###DataFrame.applymap()

In [24]:
def long_string(string):


    if len(string) > 10:
        return True
    else:
        return False

In [25]:
animals_strings = animal_df.applymap(str)
animals_strings.applymap(long_string)

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,False,False,True,True,True,False,False,True,False,True,True,True
1,False,False,True,True,True,False,False,True,False,True,True,True
2,False,False,True,True,True,False,False,True,False,True,True,False
3,False,False,True,True,True,False,False,True,False,True,False,False
4,False,False,True,True,True,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,True,True,True,False,False,True,False,True,False,False
996,False,False,True,True,True,True,False,True,False,True,False,True
997,False,False,True,True,True,False,False,True,False,True,False,True
998,False,False,True,True,True,False,False,True,False,True,True,False
999,False,False,True,True,True,False,False,True,False,True,False,True

### series.apply()

In [10]:
animal_df['sex_upon_outcome'].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown'], dtype=object)

In [11]:
np.unique(animal_df['sex_upon_outcome'], return_counts = True)

(array(['Intact Female', 'Intact Male', 'Neutered Male', 'Spayed Female',
        'Unknown'], dtype=object),
 array([146, 133, 363, 312,  46], dtype=int64))

In [14]:
def  male_or_female(value_from_series):
    
    """
    this is a doctring...
    parameter: a value from the sex_upon_outcome series
    in the Austine Animal Shelter dataset'
    There are five possible values:
    'Spayed Femal', 'Unknown', 'Intact Female', 'Intact Male', 
        'Neutered Male'
        
        Returns:
        female, male, unknoown
        
        """
    if 'female' in value_from_series.lower():
        return 'female'
    
    elif ' male' in value_from_series.lower():
        return 'male'
    
    else:
            return 'unknown'
        
        
animal_df['sex_upon_outcome'].apply(male_or_female)

0        male
1      female
2        male
3        male
4        male
        ...
995      male
996      male
997    female
998    female
999      male
Name: sex_upon_outcome, Length: 1000, dtype: object

In [15]:
# we can now make a new column, sex:

animal_df['sex'] = animal_df['sex_upon_outcome'].apply(male_or_female)
animal_df.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype,sex
0,A845614,A845614,2021-11-13T19:31:00.000,2021-11-13T19:31:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby,NaN,male
1,A845625,A845625,2021-11-13T19:11:00.000,2021-11-13T19:11:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Brown Tabby,NaN,female
2,A845960,*Azul,2021-11-13T18:39:00.000,2021-11-13T18:39:00.000,2019-11-07T00:00:00.000,Transfer,Dog,Intact Male,2 years,Chihuahua Shorthair,Brown/Black,Out State,male
3,A714568,Pierre,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2013-10-25T00:00:00.000,Transfer,Dog,Neutered Male,8 years,Dachshund Wirehair/Chihuahua Shorthair,Tricolor,Out State,male
4,A845983,*Rojo,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2021-01-08T00:00:00.000,Transfer,Dog,Intact Male,10 months,Chihuahua Shorthair/Pug,Red/Black,Out State,male

In [16]:
# First, checkout what happens when we split on a space

list(animal_df['age_upon_outcome'].str.split(' '))

[['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['8', 'years'],
 ['10', 'months'],
 ['9', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['3', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['6', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['4', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['3', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['6', 'years'],
 ['8', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['7', 'years'],
 nan,
 nan,
 nan,
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'month'],
 ['3', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['2', 'years'],
 ['7', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['7', 'months'],
 ['5', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['10', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'years'],
 ['4', 'years'],
 ['6', 'years'],
 ['10', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['13', 'years'],
 ['4', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['11', 'months'],
 nan,
 ['2', 'years'],
 ['2', 'years'],
 ['11', 'months'],
 ['9', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['3', 'years'],
 ['7', 'months'],
 ['7', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['3', 'months'],
 ['3', 'years'],
 ['2', 'months'],
 nan,
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'year'],
 ['1', 'month'],
 ['1', 'year'],
 ['9', 'months'],
 ['6', 'months'],
 nan,
 ['6', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['11', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['3', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['4', 'years'],
 ['3', 'years'],
 ['2', 'years'],
 ['8', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['7', 'months'],
 ['7', 'months'],
 ['7', 'months'],
 ['3', 'years'],
 ['6', 'days'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'months'],
 ['6', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['3', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'months'],
 ['11', 'months'],
 ['6', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['10', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['3', 'years'],
 ['1', 'year'],
 ['11', 'months'],
 ['4', 'years'],
 ['4', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['4', 'years'],
 ['1', 'month'],
 ['4', 'years'],
 ['9', 'months'],
 ['1', 'year'],
 ['7', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['4', 'months'],
 ['4', 'weeks'],
 ['1', 'weeks'],
 ['4', 'months'],
 ['1', 'year'],
 ['4', 'months'],
 ['1', 'year'],
 ['5', 'months'],
 ['2', 'years'],
 ['5', 'years'],
 ['2', 'years'],
 ['5', 'years'],
 ['7', 'years'],
 ['10', 'years'],
 ['6', 'months'],
 ['4', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['11', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['2', 'weeks'],
 ['4', 'weeks'],
 ['3', 'months'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['5', 'months'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['6', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'weeks'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'month'],
 ['9', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'year'],
 ['9', 'months'],
 ['8', 'months'],
 ['4', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['4', 'years'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['8', 'years'],
 ['6', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['8', 'months'],
 ['2', 'months'],
 ['8', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['11', 'months'],
 ['11', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['7', 'years'],
 ['2', 'months'],
 ['8', 'months'],
 ['6', 'years'],
 ['9', 'months'],
 ['1', 'year'],
 nan,
 ['3', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'year'],
 ['10', 'years'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['7', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'years'],
 ['11', 'months'],
 ['1', 'year'],
 ['5', 'years'],
 ['4', 'years'],
 ['7', 'months'],
 ['8', 'months'],
 ['3', 'months'],
 ['6', 'months'],
 ['6', 'months'],
 ['12', 'years'],
 ['2', 'years'],
 ['5', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['6', 'months'],
 ['3', 'years'],
 ['1', 'month'],
 ['2', 'months'],
 ['4', 'months'],
 ['3', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['4', 'years'],
 ['7', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['3', 'years'],
 ['2', 'years'],
 ['5', 'months'],
 ['8', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['5', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['5', 'months'],
 ['5', 'months'],
 ['1', 'year'],
 ['9', 'months'],
 ['2', 'years'],
 ['4', 'years'],
 ['6', 'months'],
 ['5', 'years'],
 ['6', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['12', 'years'],
 ['8', 'years'],
 ['1', 'year'],
 ['3', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['5', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['3', 'months'],
 ['5', 'months'],
 ['2', 'months'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['2', 'months'],
 ['11', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['3', 'months'],
 ['5', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['7', 'years'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['9', 'months'],
 ['4', 'weeks'],
 ['4', 'years'],
 ['4', 'weeks'],
 ['5', 'years'],
 ['3', 'months'],
 ['3', 'months'],
 ['1', 'month'],
 ['7', 'years'],
 ['3', 'years'],
 ['3', 'years'],
 ['4', 'years'],
 ['3', 'months'],
 ['1', 'month'],
 ['10', 'months'],
 ['1', 'year'],
 ['5', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['5', 'months'],
 ['2', 'months'],
 ['4', 'years'],
 ['3', 'years'],
 ['3', 'years'],
 ['5', 'years'],
 ['9', 'months'],
 ['1', 'weeks'],
 ['2', 'years'],
 ['4', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'months'],
 ['1', 'year'],
 ['4', 'months'],
 ['11', 'months'],
 ['6', 'months'],
 ['10', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['3', 'months'],
 ['1', 'week'],
 ['2', 'weeks'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'months'],
 ['2', 'weeks'],
 ['4', 'months'],
 ['9', 'months'],
 ['2', 'years'],
 ['5', 'months'],
 ['8', 'months'],
 ['6', 'months'],
 ['1', 'year'],
 ['8', 'years'],
 ['6', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'year'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['5', 'years'],
 ['7', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['6', 'months'],
 ['4', 'days'],
 ['2', 'years'],
 ['2', 'years'],
 ['9', 'months'],
 ['6', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['3', 'months'],
 ['6', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['3', 'weeks'],
 ['2', 'months'],
 ['4', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['2', 'months'],
 ['4', 'months'],
 ['6', 'years'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['5', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['4', 'months'],
 ['1', 'year'],
 ['6', 'months'],
 ['13', 'years'],
 ['5', 'months'],
 ['8', 'years'],
 ['2', 'years'],
 ['4', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['3', 'years'],
 ['4', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['8', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'year'],
 ['6', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['9', 'years'],
 ['6', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['7', 'months'],
 ['3', 'months'],
 ['1', 'year'],
 ['4', 'years'],
 ['1', 'year'],
 ['7', 'years'],
 ['1', 'weeks'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['10', 'months'],
 ['7', 'months'],
 ['1', 'year'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['5', 'months'],
 ['7', 'years'],
 ['2', 'years'],
 ['4', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['3', 'months'],
 ['6', 'months'],
 ['10', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['3', 'weeks'],
 ['2', 'years'],
 ['2', 'years'],
 ['10', 'years'],
 ['30', 'years'],
 ['11', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['11', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['5', 'months'],
 ['4', 'months'],
 ['15', 'years'],
 ['4', 'months'],
 ['4', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['3', 'weeks'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['13', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['10', 'months'],
 ['3', 'years'],
 ['5', 'years'],
 ['10', 'months'],
 ['5', 'months'],
 ['14', 'years'],
 ['3', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['4', 'months'],
 ['4', 'months'],
 ['10', 'months'],
 ['7', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['5', 'years'],
 ['2', 'months'],
 ['1', 'month'],
 ['10', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['8', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['8', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['2', 'years'],
 ['2', 'days'],
 ['2', 'days'],
 ['2', 'years'],
 ['2', 'days'],
 ['2', 'months'],
 ['9', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'weeks'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['15', 'years'],
 ['4', 'months'],
 ['8', 'years'],
 ['2', 'months'],
 ['4', 'months'],
 ['3', 'years'],
 ['4', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['8', 'months'],
 ['2', 'months'],
 ['2', 'weeks'],
 ['3', 'months'],
 ['1', 'week'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'years'],
 ['7', 'years'],
 ['4', 'months'],
 ['5', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['5', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['5', 'years'],
 ['1', 'year'],
 ['5', 'years'],
 ['3', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['9', 'months'],
 ['9', 'months'],
 ['7', 'years'],
 ['4', 'months'],
 ['4', 'months'],
 ['3', 'months'],
 ['5', 'months'],
 ['1', 'month'],
 ['3', 'years'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['5', 'months'],
 ['6', 'months'],
 ['2', 'months'],
 ['4', 'years'],
 ['6', 'months'],
 ['6', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['4', 'months'],
 ['1', 'year'],
 ['2', 'months'],
 ['6', 'months'],
 ['10', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['2', 'weeks'],
 ['9', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['4', 'months'],
 ['1', 'month'],
 ['4', 'years'],
 ['5', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['6', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['10', 'years'],
 ['3', 'years'],
 ['2', 'years'],
 ['9', 'months'],
 ['9', 'months'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['1', 'month'],
 ['2', 'months'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['10', 'years'],
 ['11', 'years'],
 ['3', 'years'],
 ['5', 'years'],
 ['8', 'months'],
 ['3', 'months'],
 ['13', 'years'],
 ['8', 'months'],
 ['8', 'months'],
 ['9', 'months'],
 ['8', 'months'],
 ['2', 'years'],
 ['7', 'months'],
 ['5', 'months'],
 ['6', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['3', 'years'],
 ['3', 'months'],
 ['4', 'months'],
 ['2', 'months'],
 ['3', 'years'],
 ['1', 'year'],
 ['3', 'months'],
 ['2', 'years'],
 ['8', 'years'],
 ['13', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['9', 'months'],
 ['10', 'months'],
 ['6', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['3', 'months'],
 ['3', 'months'],
 ['2', 'years'],
 ['1', 'month'],
 ['2', 'weeks'],
 ['1', 'year'],
 ['11', 'years'],
 ['8', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['6', 'years'],
 ['3', 'months'],
 ['11', 'months'],
 ['2', 'months'],
 ['3', 'months'],
 ['3', 'months'],
 ['7', 'years'],
 ['5', 'months'],
 ['6', 'months'],
 ['2', 'years'],
 ['5', 'years'],
 ['10', 'years'],
 ['2', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['2', 'years'],
 ['1', 'month'],
 ['3', 'months'],
 ['2', 'months'],
 ['6', 'months'],
 ['3', 'months'],
 ['4', 'months'],
 ['1', 'month'],
 ['1', 'month'],
 ['6', 'months'],
 ['3', 'months'],
 ['9', 'months'],
 ['6', 'years'],
 ['2', 'months'],
 ['1', 'year'],
 ['1', 'year'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['2', 'months'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['4', 'weeks'],
 ['7', 'months'],
 ['7', 'months'],
 ['4', 'years'],
 ['1', 'month'],
 ['15', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['2', 'years'],
 ['5', 'years'],
 ['8', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['8', 'months'],
 ['4', 'months'],
 ['3', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['3', 'years'],
 ['1', 'year'],
 ['5', 'years'],
 ['1', 'year'],
 ['3', 'months'],
 ['5', 'years'],
 ['4', 'years'],
 ['11', 'months'],
 ['2', 'years'],
 ['12', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['3', 'months'],
 ['10', 'years'],
 ['10', 'years'],
 ['3', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['7', 'years'],
 ['3', 'months'],
 ['9', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['8', 'months'],
 ['4', 'years'],
 ['7', 'months'],
 ['2', 'months'],
 ['9', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['7', 'years'],
 ['1', 'year'],
 ['2', 'years'],
 ['5', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['8', 'months'],
 ['12', 'years'],
 ['1', 'year'],
 ['6', 'months'],
 ['5', 'months'],
 ['2', 'years'],
 ['3', 'months'],
 ['4', 'months'],
 ['2', 'years'],
 ['4', 'weeks'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['3', 'months'],
 ['9', 'months'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['6', 'months'],
 ['2', 'years'],
 ['1', 'year'],
 ['1', 'year'],
 ['1', 'month'],
 ['2', 'years'],
 ['2', 'years'],
 ['2', 'months'],
 ['2', 'months'],
 ['2', 'years'],
 ['1', 'month'],
 ['1', 'month'],
 ['4', 'months'],
 ['4', 'months'],
 ['1', 'year'],
 ['1', 'month'],
 ['8', 'years'],
 ['9', 'years'],
 ['1', 'year'],
 ['2', 'months'],
 ['1', 'month'],
 ['5', 'years'],
 ['2', 'months'],
 ['3', 'months'],
 ['2', 'months'],
 ['2', 'months'],
 ['3', 'weeks'],
 ['2', 'months'],
 ['0', 'years'],
 ['1', 'weeks'],
 ['0', 'years'],
 ['0', 'years'],
 ['0', 'years'],
 ['12', 'years'],
 ['2', 'years'],
 ['1', 'year'],
 ['5', 'years']]

### pair programe 1:

Take 5 min fill inthr funt below with code that converts age upon outcome to days upon outcome

In [33]:
#check what values we have for time frame
# unit_values = [age[0] if age[0] =='NULL'
#                else age[1] for age in
#                animals['age_upon_outcome'].str.split(' ')]
 
# set(unit_values)

values = []
for age in animals['age_upon_outcome'].str.split(' '):
    if age[0] == 'NULL':
        values.append(age[0])
    else:
        values.append(age[1])

In [31]:
animals['days_upon_outcome'] = animals['age_upon_outcome']

In [35]:

def age_to_days(age):
    
    """
    params: age upon outcome of shelter animal.
    A number followed by a unit of time
    'NULL', 'days', 'months', 'weeks', 'yar', 'years'
    
    returns days old outcome
    """
    
    age_split = age.split(' ')
    
    if len(age_split) == 1:
        return 'NULL'
    
    elif age_split[1] == 'days':
        return age_split[0]
    
    elif age_split[1] == 'month':
        return str(int(age_split[0])*30)
    
    elif age_split[1] == 'year':
        return str(int(age_split[0])*365) + 'days'
    
    else:
        pass
    
animals['days_upon_outcome'] = animals['age_upon_outcome'].map(age_to_days)

animals['days_upon_outcome']

0         None
1         None
2      365days
3         None
4         None
        ...
995       None
996    365days
997       None
998       None
999       None
Name: days_upon_outcome, Length: 1000, dtype: object

### Anonymos Function(lambda abstraction)

In [38]:
# here is an example of a lambda funtion that split off the number from the animal_id.
animals.animal_id.apply(lambda x: x.split('A')[1])

0      846641
1      846694
2      846918
3      846275
4      846380
        ...
995    844973
996    844981
997    845187
998    845181
999    843134
Name: animal_id, Length: 1000, dtype: object

### use a lmba function to convert days upon outcome to weeks upon outcome

In [39]:
np.random.seed(42)

### Methods for reorganizingg DataFrames: .groupby()

The .groupby() is esp usefull for aggregate functions applied to the data grouped in a particular ways

In [42]:
animals.groupby('animal_type')

we can groupby  multiple columns, also return a DataFrame groupby object

In [43]:
animals.groupby(['animal_type', 'outcome_type'])

### .groups and .get_group()

In [45]:
# this returns each group indexed by the group name: I.E. 'Bird', along with the raw indicies of each value
animals.groupby('animal_type').groups

{'Bird': [138, 179, 470, 861, 862, 863, 864, 895], 'Cat': [3, 4, 5, 6, 7, 13, 15, 17, 19, 20, 32, 33, 37, 43, 44, 48, 49, 50, 51, 52, 53, 54, 57, 58, 63, 64, 70, 77, 79, 82, 84, 86, 94, 119, 121, 128, 130, 132, 135, 140, 143, 145, 146, 147, 148, 151, 153, 156, 157, 158, 159, 163, 164, 165, 166, 167, 168, 173, 174, 175, 176, 178, 181, 182, 183, 184, 185, 186, 187, 188, 192, 193, 194, 195, 196, 197, 198, 200, 201, 203, 204, 207, 209, 211, 212, 213, 217, 228, 229, 231, 232, 233, 234, 237, 238, 239, 240, 241, 243, 248, ...], 'Dog': [0, 8, 9, 10, 11, 12, 14, 16, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 34, 35, 36, 38, 39, 41, 42, 46, 47, 55, 56, 59, 60, 61, 62, 65, 68, 69, 71, 73, 74, 75, 76, 78, 80, 81, 83, 85, 87, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 120, 122, 123, 124, 125, 126, 127, 129, 131, 133, 134, 136, 137, 139, 141, 142, 149, 150, 152, 154, 155, 160, ...], 'Other': [1, 2, 25, 40, 45, 66, 67, 72, 144, 219, 220, 221, 279, 280, 281, 295, 341, 342, 343, 344, 405, 423, 471, 474, 475, 532, 549, 556, 579, 580, 587, 624, 677, 680, 735, 736, 781, 874, 893, 925, 960, 961, 994, 995, 996, 997, 998]}

In [46]:
animals.groupby('animal_type').get_group('Cat')

,animal_id,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype,name,days_upon_outcome
3,A846275,2021-11-22T18:17:00.000,2021-11-22T18:17:00.000,2021-07-12T00:00:00.000,Adoption,Cat,Neutered Male,4 months,Domestic Shorthair,Brown Tabby,NaN,*Koa,None
4,A846380,2021-11-22T17:49:00.000,2021-11-22T17:49:00.000,2021-09-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair,Black/White,NaN,Booty,None
5,A846495,2021-11-22T17:45:00.000,2021-11-22T17:45:00.000,2021-09-03T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby,NaN,A846495,None
6,A846573,2021-11-22T17:38:00.000,2021-11-22T17:38:00.000,2021-09-02T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,NaN,A846573,None
7,A846572,2021-11-22T17:37:00.000,2021-11-22T17:37:00.000,2021-09-02T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby/White,NaN,A846572,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,A842349,2021-10-27T15:11:00.000,2021-10-27T15:11:00.000,2021-08-11T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair,Blue Tabby,Foster,*Cashew,None
989,A842747,2021-10-27T15:09:00.000,2021-10-27T15:09:00.000,2021-08-30T00:00:00.000,Adoption,Cat,Neutered Male,1 month,Domestic Shorthair,Orange Tabby,Foster,*Pumpkin,30
990,A845041,2021-10-27T13:17:00.000,2021-10-27T13:17:00.000,2019-10-25T00:00:00.000,Return to Owner,Cat,Unknown,2 years,Domestic Shorthair,Orange Tabby,NaN,NaN,None
991,A845043,2021-10-27T13:16:00.000,2021-10-27T13:16:00.000,2019-10-25T00:00:00.000,Return to Owner,Cat,Unknown,2 years,Domestic Shorthair,Brown Tabby/White,NaN,NaN,None
993,A842461,2021-10-27T09:50:00.000,2021-10-27T09:50:00.000,2021-08-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Tortie,Foster,*Ruby,None

### Groupby method and aggregation

In [47]:
# same goes for multi index groupbys
animal_outcome = animals.groupby(['animal_type', 'outcome_type'])
animal_outcome.groups

{('Bird', 'Euthanasia'): [179, 470], ('Bird', 'Transfer'): [138, 861, 862, 863, 864, 895], ('Cat', 'Adoption'): [3, 4, 5, 6, 7, 13, 15, 17, 19, 20, 32, 33, 37, 57, 58, 63, 64, 70, 77, 79, 82, 86, 94, 128, 130, 132, 135, 140, 143, 151, 153, 156, 157, 158, 159, 163, 173, 174, 175, 176, 178, 181, 182, 183, 188, 192, 193, 194, 195, 196, 197, 198, 200, 201, 203, 204, 207, 209, 212, 213, 229, 231, 232, 233, 234, 237, 238, 240, 241, 243, 248, 253, 271, 272, 274, 275, 282, 285, 286, 288, 290, 293, 296, 297, 300, 302, 306, 307, 309, 310, 314, 315, 316, 339, 340, 345, 347, 349, 350, 353, ...], ('Cat', 'Died'): [278, 597, 626, 776, 850], ('Cat', 'Euthanasia'): [43, 217, 261, 382, 482, 777, 959], ('Cat', 'Return to Owner'): [119, 121, 211, 239, 273, 276, 410, 737, 896, 922, 990, 991], ('Cat', 'Rto-Adopt'): [228, 971], ('Cat', 'Transfer'): [44, 48, 49, 50, 51, 52, 53, 54, 84, 145, 146, 147, 148, 164, 165, 166, 167, 168, 184, 185, 186, 187, 258, 265, 266, 267, 268, 269, 270, 305, 399, 400, 401, 402, 403, 429, 430, 431, 453, 454, 455, 456, 457, 489, 490, 510, 511, 512, 513, 514, 515, 516, 525, 527, 552, 553, 554, 558, 559, 560, 613, 614, 615, 616, 642, 693, 694, 695, 703, 704, 720, 733, 739, 740, 756, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 782, 804, 813, 814, 815, 816, 817, 851, 852, 853, 858, 868, 869, 870, ...], ('Dog', 'Adoption'): [0, 8, 9, 10, 12, 14, 16, 18, 21, 22, 27, 28, 29, 30, 31, 35, 36, 38, 41, 56, 59, 60, 61, 62, 65, 68, 69, 71, 73, 74, 75, 78, 83, 85, 87, 88, 89, 91, 92, 95, 96, 98, 99, 129, 131, 133, 134, 136, 137, 139, 141, 142, 149, 150, 152, 154, 155, 160, 161, 177, 180, 189, 190, 191, 199, 205, 206, 210, 218, 230, 236, 242, 244, 245, 246, 247, 249, 254, 255, 256, 257, 259, 260, 287, 289, 291, 292, 294, 298, 303, 304, 308, 338, 346, 352, 355, 360, 361, 363, 369, ...], ('Dog', 'Died'): [46, 348, 356, 873, 984], ('Dog', 'Euthanasia'): [34, 47, 172, 263, 548, 958], ('Dog', 'Missing'): [469], ('Dog', 'Return to Owner'): [23, 26, 55, 76, 81, 97, 122, 126, 127, 162, 170, 171, 208, 262, 277, 299, 301, 311, 312, 313, 351, 359, 366, 384, 407, 418, 419, 420, 432, 444, 446, 463, 472, 494, 495, 499, 503, 522, 528, 541, 583, 586, 591, 595, 601, 607, 627, 628, 629, 682, 705, 713, 714, 715, 716, 717, 734, 748, 773, 808, 812, 825, 827, 828, 848, 849, 854, 855, 866, 867, 877, 894, 897, 901, 902, 909, 928, 932, 934, 938, 942, 943, 952, 992], ('Dog', 'Rto-Adopt'): [11, 93, 125, 235, 486, 496, 774, 803, 981], ('Dog', 'Transfer'): [24, 39, 42, 80, 90, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 120, 123, 124, 169, 202, 214, 215, 216, 222, 223, 224, 225, 226, 227, 250, 251, 252, 264, 283, 284, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 358, 373, 383, 396, 411, 412, 413, 414, 415, 416, 421, 443, 464, 465, 466, 467, 501, 502, 585, 623, 649, 650, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, ...], ('Other', 'Adoption'): [66, 67, 295, 474, 475, 556, 579, 580, 587, 624, 735, 736, 893], ('Other', 'Disposal'): [677], ('Other', 'Euthanasia'): [1, 2, 25, 40, 45, 72, 144, 279, 280, 281, 405, 423, 471, 532, 549, 680, 781, 874, 925, 960, 961, 994, 995, 996, 997, 998], ('Other', 'Transfer'): [219, 220, 221, 341, 342, 343, 344]}

In [48]:
# animal_outcome.groups is a dictionary, so you can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Bird', 'Euthanasia'), ('Bird', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Euthanasia'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Euthanasia'), ('Dog', 'Missing'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Other', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Transfer')])

In [51]:
# we can get a specofic group, such as Cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,animal_id,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype,name,days_upon_outcome
3,A846275,2021-11-22T18:17:00.000,2021-11-22T18:17:00.000,2021-07-12T00:00:00.000,Adoption,Cat,Neutered Male,4 months,Domestic Shorthair,Brown Tabby,NaN,*Koa,None
4,A846380,2021-11-22T17:49:00.000,2021-11-22T17:49:00.000,2021-09-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair,Black/White,NaN,Booty,None
5,A846495,2021-11-22T17:45:00.000,2021-11-22T17:45:00.000,2021-09-03T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby,NaN,A846495,None
6,A846573,2021-11-22T17:38:00.000,2021-11-22T17:38:00.000,2021-09-02T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby,NaN,A846573,None
7,A846572,2021-11-22T17:37:00.000,2021-11-22T17:37:00.000,2021-09-02T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Brown Tabby/White,NaN,A846572,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,A844800,2021-10-27T16:24:00.000,2021-10-27T16:24:00.000,2021-08-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black,NaN,Salem,None
986,A844665,2021-10-27T16:12:00.000,2021-10-27T16:12:00.000,2019-10-19T00:00:00.000,Adoption,Cat,Spayed Female,2 years,Domestic Shorthair Mix,Tortie,NaN,*Clarice,None
988,A842349,2021-10-27T15:11:00.000,2021-10-27T15:11:00.000,2021-08-11T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair,Blue Tabby,Foster,*Cashew,None
989,A842747,2021-10-27T15:09:00.000,2021-10-27T15:09:00.000,2021-08-30T00:00:00.000,Adoption,Cat,Neutered Male,1 month,Domestic Shorthair,Orange Tabby,Foster,*Pumpkin,30
993,A842461,2021-10-27T09:50:00.000,2021-10-27T09:50:00.000,2021-08-05T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Tortie,Foster,*Ruby,None

In [52]:
# other methods
animal_outcome.first()

                            animal_id                 datetime  \
animal_type outcome_type
Bird        Euthanasia        A846328  2021-11-17T09:54:00.000
            Transfer          A845661  2021-11-18T14:00:00.000
Cat         Adoption          A846275  2021-11-22T18:17:00.000
            Died              A762152  2021-11-15T10:00:00.000
            Euthanasia        A846807  2021-11-21T11:14:00.000
            Return to Owner   A846248  2021-11-19T11:36:00.000
            Rto-Adopt         A846225  2021-11-15T18:25:00.000
            Transfer          A846811  2021-11-21T11:09:00.000
Dog         Adoption          A846641  2021-11-23T10:10:00.000
            Died              A846593  2021-11-21T00:00:00.000
            Euthanasia        A846379  2021-11-21T15:52:00.000
            Missing           A831773  2021-11-10T10:33:00.000
            Return to Owner   A846820  2021-11-22T14:12:00.000
            Rto-Adopt         A837750  2021-11-22T16:38:00.000
            Transfer          A846845  2021-11-22T13:58:00.000
Other       Adoption          A844839  2021-11-20T14:52:00.000
            Disposal          A845527  2021-11-05T10:37:00.000
            Euthanasia        A846694  2021-11-23T09:15:00.000
            Transfer          A846050  2021-11-16T10:41:00.000

                                           monthyear            date_of_birth  \
animal_type outcome_type
Bird        Euthanasia       2021-11-17T09:54:00.000  2019-11-13T00:00:00.000
            Transfer         2021-11-18T14:00:00.000  2019-11-03T00:00:00.000
Cat         Adoption         2021-11-22T18:17:00.000  2021-07-12T00:00:00.000
            Died             2021-11-15T10:00:00.000  2008-11-15T00:00:00.000
            Euthanasia       2021-11-21T11:14:00.000  2021-09-20T00:00:00.000
            Return to Owner  2021-11-19T11:36:00.000  2011-04-12T00:00:00.000
            Rto-Adopt        2021-11-15T18:25:00.000  2021-03-12T00:00:00.000
            Transfer         2021-11-21T11:09:00.000  2019-11-20T00:00:00.000
Dog         Adoption         2021-11-23T10:10:00.000  2021-09-21T00:00:00.000
            Died             2021-11-21T00:00:00.000  2018-11-17T00:00:00.000
            Euthanasia       2021-11-21T15:52:00.000  2021-01-15T00:00:00.000
            Missing          2021-11-10T10:33:00.000  2019-04-01T00:00:00.000
            Return to Owner  2021-11-22T14:12:00.000  2019-11-22T00:00:00.000
            Rto-Adopt        2021-11-22T16:38:00.000  2015-08-21T00:00:00.000
            Transfer         2021-11-22T13:58:00.000  2020-06-21T00:00:00.000
Other       Adoption         2021-11-20T14:52:00.000  2020-10-21T00:00:00.000
            Disposal         2021-11-05T10:37:00.000  2019-11-01T00:00:00.000
            Euthanasia       2021-11-23T09:15:00.000  2019-11-19T00:00:00.000
            Transfer         2021-11-16T10:41:00.000  2020-11-09T00:00:00.000

                            sex_upon_outcome age_upon_outcome  \
animal_type outcome_type
Bird        Euthanasia               Unknown          2 years
            Transfer             Intact Male          2 years
Cat         Adoption           Neutered Male         4 months
            Died               Spayed Female         13 years
            Euthanasia           Intact Male             NULL
            Return to Owner    Neutered Male         10 years
            Rto-Adopt          Neutered Male         8 months
            Transfer           Intact Female          2 years
Dog         Adoption           Neutered Male         2 months
            Died                     Unknown          3 years
            Euthanasia         Intact Female        10 months
            Missing            Spayed Female          2 years
            Return to Owner      Intact Male          2 years
            Rto-Adopt          Neutered Male          6 years
            Transfer           Intact Female             NULL
Other       Adoption           Intact Female           1 year
            Disposal                 Unknown          2 years
            Euthanasia               Unknown          2 years
            Transfer                 Unknown           1 year

                                                         breed         color  \
animal_type outcome_type
Bird        Euthanasia                                 Chicken     Red/White
            Transfer                                  Pheasant   White/Black
Cat         Adoption                        Domestic Shorthair   Brown Tabby
            Died                        Domestic Shorthair Mix        Calico
            Euthanasia                    Domestic Medium Hair   Black/White
            Return to Owner                            Siamese    Lynx Point
            Rto-Adopt                                  Siamese  Silver/White
            Transfer                        Domestic Shorthair    Blue Tabby
Dog         Adoption                       Chihuahua Shorthair         Brown
            Died                       Chihuahua Shorthair Mix         Brown
            Euthanasia                          Rottweiler Mix      Tricolor
            Missing                     Labrador Retriever Mix     Tan/White
            Return to Owner  Cairn Terrier/Chihuahua Shorthair   Brown/White
            Rto-Adopt                                 Pit Bull    White/Blue
            Transfer                                  Pit Bull         Brown
Other       Adoption                                 Rabbit Sh    White/Blue
            Disposal                                   Raccoon    Gray/Black
            Euthanasia                                     Bat         Brown
            Transfer                                       Rat          Gray

                            outcome_subtype       name days_upon_outcome
animal_type outcome_type
Bird        Euthanasia               At Vet    A846328              None
            Transfer                Partner   Sunshine              None
Cat         Adoption                 Foster       *Koa           365days
            Died                  In Foster      *Lulu           365days
            Euthanasia            Suffering    A846807              NULL
            Return to Owner            None      Ozzie              None
            Rto-Adopt                  None       Tito              None
            Transfer                Partner    A846811                30
Dog         Adoption                 Foster        Zoe           365days
            Died                     At Vet    A846593                30
            Euthanasia          Rabies Risk      Diana           365days
            Missing               In Kennel      Daisy              None
            Return to Owner           Field      Maxie           365days
            Rto-Adopt                  None    Brockie           365days
            Transfer                Partner  *Precious              NULL
Other       Adoption                 Foster     *Bijou           365days
            Disposal                   None       None              None
            Euthanasia          Rabies Risk       None           365days
            Transfer                Partner       None           365days

In [53]:
animal_outcome.last()

                            animal_id                 datetime  \
animal_type outcome_type
Bird        Euthanasia        A846121  2021-11-10T10:07:00.000
            Transfer          A842878  2021-10-30T15:07:00.000
Cat         Adoption          A842461  2021-10-27T09:50:00.000
            Died              A845350  2021-11-01T09:12:00.000
            Euthanasia        A844992  2021-10-28T10:18:00.000
            Return to Owner   A845043  2021-10-27T13:16:00.000
            Rto-Adopt         A844359  2021-10-27T17:47:00.000
            Transfer          A845265  2021-10-27T16:00:00.000
Dog         Adoption          A843134  2021-10-26T19:12:00.000
            Died              A844914  2021-10-27T16:31:00.000
            Euthanasia        A845022  2021-10-28T10:19:00.000
            Missing           A831773  2021-11-10T10:33:00.000
            Return to Owner   A845179  2021-10-27T12:45:00.000
            Rto-Adopt         A814670  2021-10-27T16:39:00.000
            Transfer          A743439  2021-10-28T08:33:00.000
Other       Adoption          A845110  2021-10-30T16:02:00.000
            Disposal          A845527  2021-11-05T10:37:00.000
            Euthanasia        A845181  2021-10-27T08:27:00.000
            Transfer          A846045  2021-11-13T17:51:00.000

                                           monthyear            date_of_birth  \
animal_type outcome_type
Bird        Euthanasia       2021-11-10T10:07:00.000  2021-10-10T00:00:00.000
            Transfer         2021-10-30T15:07:00.000  1991-09-22T00:00:00.000
Cat         Adoption         2021-10-27T09:50:00.000  2021-08-05T00:00:00.000
            Died             2021-11-01T09:12:00.000  2020-10-28T00:00:00.000
            Euthanasia       2021-10-28T10:18:00.000  2021-07-24T00:00:00.000
            Return to Owner  2021-10-27T13:16:00.000  2019-10-25T00:00:00.000
            Rto-Adopt        2021-10-27T17:47:00.000  2018-10-15T00:00:00.000
            Transfer         2021-10-27T16:00:00.000  2021-10-05T00:00:00.000
Dog         Adoption         2021-10-26T19:12:00.000  2019-09-27T00:00:00.000
            Died             2021-10-27T16:31:00.000  2021-08-07T00:00:00.000
            Euthanasia       2021-10-28T10:19:00.000  2021-02-24T00:00:00.000
            Missing          2021-11-10T10:33:00.000  2019-04-01T00:00:00.000
            Return to Owner  2021-10-27T12:45:00.000  2019-10-26T00:00:00.000
            Rto-Adopt        2021-10-27T16:39:00.000  2020-01-03T00:00:00.000
            Transfer         2021-10-28T08:33:00.000  2013-02-10T00:00:00.000
Other       Adoption         2021-10-30T16:02:00.000  2019-10-25T00:00:00.000
            Disposal         2021-11-05T10:37:00.000  2019-11-01T00:00:00.000
            Euthanasia       2021-10-27T08:27:00.000  2019-10-26T00:00:00.000
            Transfer         2021-11-13T17:51:00.000  2020-11-09T00:00:00.000

                            sex_upon_outcome age_upon_outcome  \
animal_type outcome_type
Bird        Euthanasia               Unknown          4 weeks
            Transfer           Intact Female         30 years
Cat         Adoption           Spayed Female         2 months
            Died                 Intact Male           1 year
            Euthanasia               Unknown         3 months
            Return to Owner          Unknown          2 years
            Rto-Adopt          Neutered Male          3 years
            Transfer             Intact Male          3 weeks
Dog         Adoption           Spayed Female          2 years
            Died               Intact Female         2 months
            Euthanasia         Spayed Female         8 months
            Missing            Spayed Female          2 years
            Return to Owner      Intact Male          2 years
            Rto-Adopt          Neutered Male           1 year
            Transfer           Intact Female          8 years
Other       Adoption                 Unknown          2 years
            Disposal                 Unknown          2 years
            Euthanasia               Unknown          2 years
            Transfer           Intact Female           1 year

                                                                 breed  \
animal_type outcome_type
Bird        Euthanasia                                         Grackle
            Transfer                                             Macaw
Cat         Adoption                            Domestic Shorthair Mix
            Died                                    Domestic Shorthair
            Euthanasia                              Domestic Shorthair
            Return to Owner                         Domestic Shorthair
            Rto-Adopt                               Domestic Shorthair
            Transfer                                Domestic Shorthair
Dog         Adoption         American Pit Bull Terrier/Black Mouth Cur
            Died                                Labrador Retriever Mix
            Euthanasia                       Australian Cattle Dog Mix
            Missing                             Labrador Retriever Mix
            Return to Owner                   Maltese/Miniature Poodle
            Rto-Adopt                   American Staffordshire Terrier
            Transfer                                      Pit Bull Mix
Other       Adoption                                      Lionhead Mix
            Disposal                                           Raccoon
            Euthanasia                                             Bat
            Transfer                                               Rat

                                           color outcome_subtype      name  \
animal_type outcome_type
Bird        Euthanasia                     Black       Suffering   A846328
            Transfer                   Blue/Gold         Partner  Sunshine
Cat         Adoption                      Tortie          Foster     *Ruby
            Died                           Black       In Kennel   A845350
            Euthanasia               Black/White       Suffering     *Tuxi
            Return to Owner    Brown Tabby/White            None  Midnight
            Rto-Adopt                Black/White            None  Mr. Mans
            Transfer                 Black Smoke         Partner      393G
Dog         Adoption                 Brown/Black          Foster  *Brianna
            Died                     Black/White      In Surgery    Pirata
            Euthanasia           White/Red Merle         Medical   A845734
            Missing                    Tan/White       In Kennel     Daisy
            Return to Owner          White/Black           Field    Bailey
            Rto-Adopt                 Fawn/White            None     Falco
            Transfer         Brown Brindle/White         Partner    *Jezzy
Other       Adoption                   White/Tan          Foster    *Betty
            Disposal                  Gray/Black            None      None
            Euthanasia               Brown/Brown     Rabies Risk      None
            Transfer                   Tan/White         Partner      None

                            days_upon_outcome
animal_type outcome_type
Bird        Euthanasia                   None
            Transfer                     None
Cat         Adoption                       30
            Died                      365days
            Euthanasia                365days
            Return to Owner              None
            Rto-Adopt                    None
            Transfer                        2
Dog         Adoption                  365days
            Died                           30
            Euthanasia                365days
            Missing                      None
            Return to Owner           365days
            Rto-Adopt                 365days
            Transfer                  365days
Other       Adoption                  365days
            Disposal                     None
            Euthanasia                365days
            Transfer                  365days

In [56]:
animal.groupby('animal_type').mean()[animals['animal_type']['Dog']]

NameError: name 'animal' is not defined

In [58]:
# Group by multiple indices
animals.groupby(['animal_type', 'outcome_type',]).get_group(('Cat', 'Transfer')).describe()

,animal_id,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype,name,days_upon_outcome
count,116,116,116,116,116,116,116,116,116,116,116,67,37
unique,116,69,69,61,1,1,5,23,5,28,2,66,6
top,A845460,2021-11-06T13:18:00.000,2021-11-06T13:18:00.000,2021-10-25T00:00:00.000,Transfer,Cat,Intact Female,1 month,Domestic Shorthair,Black,Partner,Kimchi,30
freq,1,4,4,8,116,116,54,21,87,18,101,2,21