### Group by Methods abd Aggregating

In [1]:
import pandas as pd
import numpy as np

In [3]:
animals = pd.read_csv("C:\\Users\\BADIRU\\Downloads\\animal_center.csv")
animals

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A845614,A845614,2021-11-13T19:31:00.000,2021-11-13T19:31:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby,NaN
1,A845625,A845625,2021-11-13T19:11:00.000,2021-11-13T19:11:00.000,2021-08-18T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Brown Tabby,NaN
2,A845960,*Azul,2021-11-13T18:39:00.000,2021-11-13T18:39:00.000,2019-11-07T00:00:00.000,Transfer,Dog,Intact Male,2 years,Chihuahua Shorthair,Brown/Black,Out State
3,A845983,*Rojo,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2021-01-08T00:00:00.000,Transfer,Dog,Intact Male,10 months,Chihuahua Shorthair/Pug,Red/Black,Out State
4,A714568,Pierre,2021-11-13T18:38:00.000,2021-11-13T18:38:00.000,2013-10-25T00:00:00.000,Transfer,Dog,Neutered Male,8 years,Dachshund Wirehair/Chihuahua Shorthair,Tricolor,Out State
...,...,...,...,...,...,...,...,...,...,...,...,...
995,A844764,89 G,2021-10-20T15:13:00.000,2021-10-20T15:13:00.000,2021-10-20T00:00:00.000,Transfer,Cat,Intact Male,0 years,Domestic Shorthair,White,Partner
996,A844779,Max,2021-10-20T14:58:00.000,2021-10-20T14:58:00.000,2009-10-20T00:00:00.000,Return to Owner,Dog,Intact Male,12 years,Miniature Schnauzer/Miniature Poodle,Black,NaN
997,A843184,*Bebe,2021-10-20T14:47:00.000,2021-10-20T14:47:00.000,2019-09-27T00:00:00.000,Adoption,Cat,Spayed Female,2 years,Domestic Shorthair,Calico,NaN
998,A842368,A842368,2021-10-20T14:46:00.000,2021-10-20T14:46:00.000,2020-09-14T00:00:00.000,Transfer,Cat,Spayed Female,1 year,Domestic Shorthair,Cream Tabby,Partner
999,A806884,Oso,2021-10-20T14:42:00.000,2021-10-20T14:42:00.000,2016-10-17T00:00:00.000,Adoption,Dog,Neutered Male,5 years,Chinese Sharpei Mix,Black,NaN

In [56]:
animals.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A845461,Max,2021-10-31T18:56:00.000,2021-10-31T18:56:00.000,2020-05-01T00:00:00.000,Adoption,Dog,Intact Male,1 year,Beagle/Chihuahua Shorthair,Red/White,NaN
1,A845367,"Juice Box ""Jb""",2021-10-31T17:51:00.000,2021-10-31T17:51:00.000,2017-10-28T00:00:00.000,Return to Owner,Dog,Neutered Male,4 years,Pit Bull,White/Brown,NaN
2,A844571,Saint,2021-10-31T17:28:00.000,2021-10-31T17:28:00.000,2020-10-17T00:00:00.000,Adoption,Dog,Neutered Male,1 year,German Shorthair Pointer/Catahoula,Brown Merle/White,NaN
3,A684713,Magneto,2021-10-31T16:55:00.000,2021-10-31T16:55:00.000,2014-06-05T00:00:00.000,Adoption,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Black/White,NaN
4,A845471,845471,2021-10-31T15:48:00.000,2021-10-31T15:48:00.000,2021-10-21T00:00:00.000,Transfer,Cat,Intact Female,1 weeks,Domestic Shorthair,Black,Partner

In [40]:
animals = ('animal_outcome', ('outcome_type'))

In [23]:
# same goes for multi index groupbys

animal_outcome = animals.groupby(['animal_type', 'outcome_type'])
animal_outcome.groups

{('Bird', 'Adoption'): [966], ('Bird', 'Transfer'): [7, 8, 9, 10, 40, 654], ('Cat', 'Adoption'): [3, 5, 6, 23, 26, 27, 28, 29, 30, 31, 32, 33, 44, 53, 54, 56, 58, 60, 61, 65, 67, 69, 77, 81, 82, 85, 86, 87, 90, 91, 97, 99, 100, 102, 112, 113, 114, 121, 127, 129, 130, 132, 133, 138, 143, 145, 152, 160, 167, 169, 171, 172, 176, 179, 180, 181, 182, 186, 187, 196, 198, 201, 202, 206, 208, 209, 210, 211, 214, 220, 222, 224, 225, 226, 228, 231, 239, 240, 241, 248, 249, 264, 266, 268, 269, 273, 284, 286, 293, 295, 297, 299, 300, 303, 305, 306, 307, 308, 309, 310, ...], ('Cat', 'Died'): [190, 193, 255, 392], ('Cat', 'Disposal'): [984], ('Cat', 'Euthanasia'): [280, 413, 549, 593, 700, 703, 704, 713, 814], ('Cat', 'Return to Owner'): [41, 68, 135, 136, 173, 174, 233, 344, 345, 423, 571, 599, 821, 896, 900, 928, 954, 958, 978], ('Cat', 'Rto-Adopt'): [115, 547], ('Cat', 'Transfer'): [4, 14, 15, 16, 18, 34, 35, 36, 50, 51, 64, 75, 92, 93, 116, 117, 118, 119, 120, 131, 155, 157, 158, 159, 215, 216, 217, 218, 219, 242, 243, 244, 245, 246, 247, 256, 257, 258, 259, 260, 261, 267, 290, 292, 338, 340, 341, 342, 343, 347, 356, 357, 358, 359, 360, 361, 362, 409, 411, 412, 415, 416, 417, 418, 428, 431, 449, 450, 452, 453, 454, 455, 458, 496, 497, 504, 505, 506, 511, 512, 514, 574, 582, 583, 589, 590, 591, 606, 607, 608, 615, 622, 623, 624, 625, 626, 627, 664, 665, 688, ...], ('Cat', nan): [579], ('Dog', 'Adoption'): [0, 2, 11, 20, 21, 25, 37, 43, 45, 52, 57, 59, 62, 63, 66, 70, 72, 73, 79, 83, 101, 107, 108, 109, 110, 111, 122, 123, 124, 126, 142, 146, 147, 148, 149, 150, 151, 153, 154, 156, 161, 162, 163, 165, 166, 168, 177, 178, 185, 188, 194, 199, 200, 203, 204, 205, 207, 212, 213, 221, 223, 227, 230, 232, 250, 262, 263, 271, 272, 274, 275, 278, 281, 282, 283, 287, 291, 296, 298, 301, 302, 311, 312, 318, 332, 334, 366, 393, 397, 400, 402, 408, 421, 424, 426, 427, 433, 434, 435, 438, ...], ('Dog', 'Died'): [19, 128, 192, 767], ('Dog', 'Disposal'): [170, 414], ('Dog', 'Euthanasia'): [164, 576], ('Dog', 'Missing'): [967], ('Dog', 'Return to Owner'): [1, 12, 13, 22, 39, 42, 46, 47, 55, 74, 78, 80, 84, 88, 89, 98, 137, 144, 189, 191, 197, 234, 236, 237, 238, 252, 285, 294, 321, 333, 336, 346, 348, 364, 365, 389, 390, 398, 403, 404, 419, 444, 456, 461, 491, 508, 521, 525, 526, 531, 545, 548, 553, 563, 565, 581, 585, 594, 595, 596, 603, 609, 611, 612, 614, 641, 667, 671, 680, 699, 709, 752, 806, 809, 812, 825, 826, 834, 835, 854, 858, 883, 927, 940, 965, 977, 983, 989], ('Dog', 'Rto-Adopt'): [125, 175, 460, 485, 500, 539, 619, 648, 751, 785], ('Dog', 'Transfer'): [17, 24, 48, 76, 94, 95, 96, 103, 106, 229, 235, 251, 253, 254, 270, 276, 277, 304, 349, 350, 351, 352, 353, 354, 355, 363, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 385, 396, 410, 510, 551, 552, 555, 559, 560, 570, 628, 629, 630, 631, 635, 637, 652, 658, 661, 662, 663, 695, 697, 698, 742, 774, 775, 776, 777, 778, 811, 813, 819, 820, 830, 870, 894, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, ...], ('Other', 'Adoption'): [38, 183, 184, 407, 480, 564, 666, 839, 841, 884], ('Other', 'Disposal'): [195, 822], ('Other', 'Euthanasia'): [49, 71, 104, 105, 134, 139, 140, 141, 265, 279, 288, 289, 436, 465, 557, 558, 561, 577, 578, 639, 640, 660, 702, 843, 851, 903, 964], ('Other', 'Transfer'): [463, 464, 492, 844, 934]}

In [24]:
animal_outcome.groups.keys()

dict_keys([('Bird', 'Adoption'), ('Bird', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Disposal'), ('Cat', 'Euthanasia'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Cat', nan), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Disposal'), ('Dog', 'Euthanasia'), ('Dog', 'Missing'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Other', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Transfer')])

In [25]:
animal_outcome.get_group(('Cat', 'Adoption'))

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
3,A684713,Magneto,2021-10-31T16:55:00.000,2021-10-31T16:55:00.000,2014-06-05T00:00:00.000,Adoption,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Black/White,NaN
5,A843414,*Mary,2021-10-31T15:28:00.000,2021-10-31T15:28:00.000,2021-08-17T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black/White,NaN
6,A843415,*Sarah,2021-10-31T15:28:00.000,2021-10-31T15:28:00.000,2021-08-17T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Blue/White,NaN
23,A845156,Biz,2021-10-30T17:14:00.000,2021-10-30T17:14:00.000,2021-07-26T00:00:00.000,Adoption,Cat,Neutered Male,3 months,Domestic Shorthair,Blue,NaN
26,A843892,*Pepper,2021-10-30T16:59:00.000,2021-10-30T16:59:00.000,2021-08-25T00:00:00.000,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair,Brown Tabby,Foster
...,...,...,...,...,...,...,...,...,...,...,...,...
985,A841362,Sealy,2021-10-06T16:05:00.000,2021-10-06T16:05:00.000,2021-07-26T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Siamese Mix,Tortie Point,NaN
986,A843390,A843390,2021-10-06T15:57:00.000,2021-10-06T15:57:00.000,2021-04-30T00:00:00.000,Adoption,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Orange Tabby/White,NaN
987,A843391,10A843391,2021-10-06T15:57:00.000,2021-10-06T15:57:00.000,2021-04-30T00:00:00.000,Adoption,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Orange Tabby/White,NaN
988,A837441,Willy,2021-10-06T15:52:00.000,2021-10-06T15:52:00.000,2011-06-23T00:00:00.000,Adoption,Cat,Neutered Male,10 years,Domestic Shorthair,Orange Tabby,Foster
991,A835742,*Thor,2021-10-06T15:22:00.000,2021-10-06T15:22:00.000,2021-04-16T00:00:00.000,Adoption,Cat,Neutered Male,5 months,Domestic Shorthair,Cream Tabby,Foster

In [36]:
animal_outcome.first()

                            animal_id            name  \
animal_type outcome_type
Bird        Adoption          A842650            None
            Transfer          A844575        Sunshine
Cat         Adoption          A684713         Magneto
            Died              A845014         A845014
            Disposal          A843514            None
            Euthanasia        A844992         A844496
            Return to Owner   A598832         Boogers
            Rto-Adopt         A844359        Mr. Mans
            Transfer          A845471          845471
Dog         Adoption          A845461             Max
            Died              A771583          Pirata
            Disposal          A844932            None
            Euthanasia        A845022            Mila
            Missing           A840024        *A840024
            Return to Owner   A845367  Juice Box "Jb"
            Rto-Adopt         A814670           Falco
            Transfer          A845217         A845217
Other       Adoption          A845110          *Betty
            Disposal          A845053            None
            Euthanasia        A845425            None
            Transfer          A844628           Kyoko

                                            datetime                monthyear  \
animal_type outcome_type
Bird        Adoption         2021-10-07T09:53:00.000  2021-10-07T09:53:00.000
            Transfer         2021-10-31T15:26:00.000  2021-10-31T15:26:00.000
Cat         Adoption         2021-10-31T16:55:00.000  2021-10-31T16:55:00.000
            Died             2021-10-26T12:20:00.000  2021-10-26T12:20:00.000
            Disposal         2021-10-06T16:09:00.000  2021-10-06T16:09:00.000
            Euthanasia       2021-10-24T11:01:00.000  2021-10-24T11:01:00.000
            Return to Owner  2021-10-30T14:37:00.000  2021-10-30T14:37:00.000
            Rto-Adopt        2021-10-27T17:47:00.000  2021-10-27T17:47:00.000
            Transfer         2021-10-31T15:48:00.000  2021-10-31T15:48:00.000
Dog         Adoption         2021-10-31T18:56:00.000  2021-10-31T18:56:00.000
            Died             2021-10-31T11:00:00.000  2021-10-31T11:00:00.000
            Disposal         2021-10-26T15:43:00.000  2021-10-26T15:43:00.000
            Euthanasia       2021-10-26T16:55:00.000  2021-10-26T16:55:00.000
            Missing          2021-10-07T08:27:00.000  2021-10-07T08:27:00.000
            Return to Owner  2021-10-31T17:51:00.000  2021-10-31T17:51:00.000
            Rto-Adopt        2021-10-27T16:39:00.000  2021-10-27T16:39:00.000
            Transfer         2021-10-31T12:28:00.000  2021-10-31T12:28:00.000
Other       Adoption         2021-10-30T16:02:00.000  2021-10-30T16:02:00.000
            Disposal         2021-10-26T08:15:00.000  2021-10-26T08:15:00.000
            Euthanasia       2021-10-30T08:55:00.000  2021-10-30T08:55:00.000
            Transfer         2021-10-20T11:06:00.000  2021-10-20T11:06:00.000

                                       date_of_birth sex_upon_outcome  \
animal_type outcome_type
Bird        Adoption         2019-09-19T00:00:00.000          Unknown
            Transfer         2019-10-17T00:00:00.000          Unknown
Cat         Adoption         2014-06-05T00:00:00.000    Neutered Male
            Died             2021-09-06T00:00:00.000      Intact Male
            Disposal         2017-10-02T00:00:00.000      Intact Male
            Euthanasia       2021-07-24T00:00:00.000          Unknown
            Return to Owner  2010-10-11T00:00:00.000    Neutered Male
            Rto-Adopt        2018-10-15T00:00:00.000    Neutered Male
            Transfer         2021-10-21T00:00:00.000    Intact Female
Dog         Adoption         2020-05-01T00:00:00.000      Intact Male
            Died             2014-10-31T00:00:00.000    Neutered Male
            Disposal         2019-10-22T00:00:00.000      Intact Male
            Euthanasia       2021-02-24T00:00:00.000    Spayed Female
            Missing          2021-07-25T00:00:00.000      Intact Male
            Return to Owner  2017-10-28T00:00:00.000    Neutered Male
            Rto-Adopt        2020-01-03T00:00:00.000    Neutered Male
            Transfer         2021-05-27T00:00:00.000    Intact Female
Other       Adoption         2019-10-25T00:00:00.000          Unknown
            Disposal         2020-10-25T00:00:00.000          Unknown
            Euthanasia       2021-04-29T00:00:00.000          Unknown
            Transfer         2020-11-18T00:00:00.000    Intact Female

                            age_upon_outcome                           breed  \
animal_type outcome_type
Bird        Adoption                 2 years                            Dove
            Transfer                 2 years                        Parakeet
Cat         Adoption                 7 years          Domestic Shorthair Mix
            Died                     1 month               Domestic Longhair
            Disposal                 4 years               Domestic Longhair
            Euthanasia               2 years              Domestic Shorthair
            Return to Owner         11 years              Domestic Shorthair
            Rto-Adopt                3 years              Domestic Shorthair
            Transfer                 1 weeks              Domestic Shorthair
Dog         Adoption                  1 year      Beagle/Chihuahua Shorthair
            Died                     7 years   Labrador Retriever/Great Dane
            Disposal                 2 years             Chihuahua Shorthair
            Euthanasia                1 year       Australian Cattle Dog Mix
            Missing                 2 months                    Pit Bull Mix
            Return to Owner          4 years                        Pit Bull
            Rto-Adopt                 1 year  American Staffordshire Terrier
            Transfer                5 months              Great Pyrenees Mix
Other       Adoption                 2 years                    Lionhead Mix
            Disposal                  1 year                         Raccoon
            Euthanasia              6 months                         Raccoon
            Transfer               11 months                             Rat

                                         color outcome_subtype
animal_type outcome_type
Bird        Adoption                     White          Foster
            Transfer                White/Blue         Partner
Cat         Adoption               Black/White          Foster
            Died                   Cream/White       In Kennel
            Disposal              Orange Tabby            None
            Euthanasia             Black/White       Suffering
            Return to Owner  Brown Tabby/White            None
            Rto-Adopt              Black/White            None
            Transfer                     Black         Partner
Dog         Adoption                 Red/White          Foster
            Died                   White/Brown       Emergency
            Disposal               White/Brown            None
            Euthanasia         White/Red Merle         Medical
            Missing                 Blue/White       In Foster
            Return to Owner        White/Brown           Field
            Rto-Adopt               Fawn/White            None
            Transfer                     White         Partner
Other       Adoption                 White/Tan          Foster
            Disposal               Brown/Black            None
            Euthanasia             Brown/Black       Suffering
            Transfer                     Brown         Partner

In [37]:
animal_outcome.last()

                            animal_id        name                 datetime  \
animal_type outcome_type
Bird        Adoption          A842650        None  2021-10-07T09:53:00.000
            Transfer          A843646     A843646  2021-10-14T16:43:00.000
Cat         Adoption          A835742       *Thor  2021-10-06T15:22:00.000
            Died              A844632     A844632  2021-10-21T18:12:00.000
            Disposal          A843514        None  2021-10-06T16:09:00.000
            Euthanasia        A844049     A844049  2021-10-11T14:01:00.000
            Return to Owner   A843399       Simba  2021-10-06T17:41:00.000
            Rto-Adopt         A844310       Lucky  2021-10-18T15:58:00.000
            Transfer          A843735     *Nettle  2021-10-06T15:07:00.000
Dog         Adoption          A760095        Rory  2021-10-06T15:24:00.000
            Died              A832522       Lilly  2021-10-12T08:05:00.000
            Disposal          A844814        None  2021-10-21T09:19:00.000
            Euthanasia        A844097        Mila  2021-10-17T11:05:00.000
            Missing           A840024    *A840024  2021-10-07T08:27:00.000
            Return to Owner   A612028      Hannah  2021-10-06T15:35:00.000
            Rto-Adopt         A843689      Aubrey  2021-10-11T17:56:00.000
            Transfer          A843023     *Kramer  2021-10-06T18:01:00.000
Other       Adoption          A843152         *Ro  2021-10-08T18:18:00.000
            Disposal          A843912        None  2021-10-11T11:20:00.000
            Euthanasia        A843782        None  2021-10-07T10:57:00.000
            Transfer          A840038  *Cornelius  2021-10-07T20:55:00.000

                                           monthyear            date_of_birth  \
animal_type outcome_type
Bird        Adoption         2021-10-07T09:53:00.000  2019-09-19T00:00:00.000
            Transfer         2021-10-14T16:43:00.000  2020-10-04T00:00:00.000
Cat         Adoption         2021-10-06T15:22:00.000  2021-04-16T00:00:00.000
            Died             2021-10-21T18:12:00.000  2021-08-18T00:00:00.000
            Disposal         2021-10-06T16:09:00.000  2017-10-02T00:00:00.000
            Euthanasia       2021-10-11T14:01:00.000  2021-08-11T00:00:00.000
            Return to Owner  2021-10-06T17:41:00.000  2021-07-30T00:00:00.000
            Rto-Adopt        2021-10-18T15:58:00.000  2007-10-15T00:00:00.000
            Transfer         2021-10-06T15:07:00.000  2021-09-13T00:00:00.000
Dog         Adoption         2021-10-06T15:24:00.000  2016-10-12T00:00:00.000
            Died             2021-10-12T08:05:00.000  2016-04-14T00:00:00.000
            Disposal         2021-10-21T09:19:00.000  2021-07-20T00:00:00.000
            Euthanasia       2021-10-17T11:05:00.000  2020-10-12T00:00:00.000
            Missing          2021-10-07T08:27:00.000  2021-07-25T00:00:00.000
            Return to Owner  2021-10-06T15:35:00.000  2011-08-31T00:00:00.000
            Rto-Adopt        2021-10-11T17:56:00.000  2015-10-11T00:00:00.000
            Transfer         2021-10-06T18:01:00.000  2020-04-25T00:00:00.000
Other       Adoption         2021-10-08T18:18:00.000  2020-09-27T00:00:00.000
            Disposal         2021-10-11T11:20:00.000  2019-10-08T00:00:00.000
            Euthanasia       2021-10-07T10:57:00.000  2019-10-06T00:00:00.000
            Transfer         2021-10-07T20:55:00.000  2019-07-31T00:00:00.000

                            sex_upon_outcome age_upon_outcome  \
animal_type outcome_type
Bird        Adoption                 Unknown          2 years
            Transfer                 Unknown           1 year
Cat         Adoption           Neutered Male         5 months
            Died               Intact Female         2 months
            Disposal             Intact Male          4 years
            Euthanasia         Intact Female          1 month
            Return to Owner    Neutered Male         2 months
            Rto-Adopt          Neutered Male         14 years
            Transfer           Intact Female          3 weeks
Dog         Adoption           Neutered Male          4 years
            Died               Spayed Female          5 years
            Disposal                 Unknown         3 months
            Euthanasia         Intact Female           1 year
            Missing              Intact Male         2 months
            Return to Owner    Spayed Female         10 years
            Rto-Adopt          Spayed Female          6 years
            Transfer             Intact Male           1 year
Other       Adoption             Intact Male           1 year
            Disposal                 Unknown          2 years
            Euthanasia               Unknown          2 years
            Transfer           Neutered Male          2 years

                                                         breed  \
animal_type outcome_type
Bird        Adoption                                      Dove
            Transfer                                  Parakeet
Cat         Adoption                        Domestic Shorthair
            Died                            Domestic Shorthair
            Disposal                         Domestic Longhair
            Euthanasia                  Domestic Shorthair Mix
            Return to Owner             Domestic Shorthair Mix
            Rto-Adopt                       Domestic Shorthair
            Transfer                        Domestic Shorthair
Dog         Adoption                  Doberman Pinsch/Pit Bull
            Died                                  Pit Bull Mix
            Disposal                        Siberian Husky Mix
            Euthanasia                                Pit Bull
            Missing                               Pit Bull Mix
            Return to Owner             Labrador Retriever Mix
            Rto-Adopt                                 Pit Bull
            Transfer         Labrador Retriever/Chesa Bay Retr
Other       Adoption                                Guinea Pig
            Disposal                                       Bat
            Euthanasia                                     Bat
            Transfer                                       Rex

                                          color outcome_subtype
animal_type outcome_type
Bird        Adoption                      White          Foster
            Transfer                 White/Blue         Partner
Cat         Adoption                Cream Tabby          Foster
            Died              Brown Tabby/White       In Kennel
            Disposal               Orange Tabby            None
            Euthanasia                    Black       Suffering
            Return to Owner               Black            None
            Rto-Adopt        Orange Tabby/White            None
            Transfer                     Tortie         Partner
Dog         Adoption                Black/Brown          Foster
            Died                     Blue/White          At Vet
            Disposal                Black/White            None
            Euthanasia                      Tan      Aggressive
            Missing                  Blue/White       In Foster
            Return to Owner           White/Tan      Customer S
            Rto-Adopt                 Tan/White            None
            Transfer                  Chocolate         Partner
Other       Adoption                White/Brown          Foster
            Disposal                      Brown            None
            Euthanasia                    Black     Rabies Risk
            Transfer                      Brown         Partner

In [43]:
animals.groupby('animal_type').mean()[animals['animal_type']['Dog']]

AttributeError: 'tuple' object has no attribute 'groupby'

In [44]:
animals.groupby(['animal_type']).get_group(('Cat', 'Transfer')).describe()

AttributeError: 'tuple' object has no attribute 'groupby'

### More pandas

In [48]:
import numpy as np
import pandas as pd
animals =pd.read_csv("C:\\Users\\BADIRU\\Downloads\\Austin_Animal_Center_Outcomes.csv")
animals.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
133210,A844963,NaN,11/01/2021 05:29:00 PM,11/01/2021 05:29:00 PM,07/23/2021,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Brown Tabby/White
133211,A802534,Pinky,08/25/2019 10:57:00 PM,08/25/2019 10:57:00 PM,01/19/2019,Adoption,NaN,Dog,Neutered Male,7 months,Siberian Husky/Labrador Retriever,Cream
133212,A844400,Bananas,11/01/2021 05:25:00 PM,11/01/2021 05:25:00 PM,08/15/2021,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Orange Tabby
133213,A845094,*Daphne,11/01/2021 05:48:00 PM,11/01/2021 05:48:00 PM,07/25/2021,Adoption,NaN,Dog,Spayed Female,3 months,Labrador Retriever,Black/White
133214,A845095,Ginger,11/01/2021 05:32:00 PM,11/01/2021 05:32:00 PM,07/25/2021,Adoption,NaN,Dog,Spayed Female,3 months,Labrador Retriever,Chocolate/White

### Reshaping a Dataframe

### .pivot()

In [50]:
animals.pivot(values= ('Age upon Outcome'), columns = ('Animal Type')).head()

Animal Type Bird      Cat       Dog Livestock   Other
0            NaN  2 years       NaN       NaN     NaN
1            NaN      NaN    1 year       NaN     NaN
2            NaN      NaN       NaN       NaN  1 year
3            NaN      NaN  4 months       NaN     NaN
4            NaN   6 days       NaN       NaN     NaN

In [51]:
animals.groupby(by=['Outcome Type', 'Sex upon Outcome']).agg(len)

                                  Animal ID   Name  DateTime  MonthYear  \
Outcome Type    Sex upon Outcome
Adoption        Intact Female          1305   1305      1305       1305
                Intact Male            1134   1134      1134       1134
                Neutered Male         29224  29224     29224      29224
                Spayed Female         28517  28517     28517      28517
                Unknown                 187    187       187        187
Died            Intact Female           316    316       316        316
                Intact Male             395    395       395        395
                Neutered Male            99     99        99         99
                Spayed Female            92     92        92         92
                Unknown                 354    354       354        354
Disposal        Intact Female            36     36        36         36
                Intact Male              59     59        59         59
                Neutered Male             7      7         7          7
                Spayed Female             6      6         6          6
                Unknown                 504    504       504        504
Euthanasia      Intact Female          1073   1073      1073       1073
                Intact Male            1275   1275      1275       1275
                Neutered Male           838    838       838        838
                Spayed Female           521    521       521        521
                Unknown                5145   5145      5145       5145
Missing         Intact Female            20     20        20         20
                Intact Male              26     26        26         26
                Neutered Male             7      7         7          7
                Spayed Female            14     14        14         14
                Unknown                   4      4         4          4
Relocate        Intact Female             1      1         1          1
                Neutered Male             1      1         1          1
                Spayed Female             3      3         3          3
                Unknown                  20     20        20         20
Return to Owner Intact Female          2705   2705      2705       2705
                Intact Male            3988   3988      3988       3988
                Neutered Male          8938   8938      8938       8938
                Spayed Female          6532   6532      6532       6532
                Unknown                 180    180       180        180
Rto-Adopt       Intact Female            28     28        28         28
                Intact Male              38     38        38         38
                Neutered Male           446    446       446        446
                Spayed Female           289    289       289        289
                Unknown                   1      1         1          1
Transfer        Intact Female         11011  11011     11011      11011
                Intact Male           10017  10017     10017      10017
                Neutered Male          7298   7298      7298       7298
                Spayed Female          6202   6202      6202       6202
                Unknown                4333   4333      4333       4333

                                  Date of Birth  Outcome Subtype  Animal Type  \
Outcome Type    Sex upon Outcome
Adoption        Intact Female              1305             1305         1305
                Intact Male                1134             1134         1134
                Neutered Male             29224            29224        29224
                Spayed Female             28517            28517        28517
                Unknown                     187              187          187
Died            Intact Female               316              316          316
                Intact Male                 395              395          395
                Neutered Male                99               99           99
                Spayed Female                92               92           92
                Unknown                     354              354          354
Disposal        Intact Female                36               36           36
                Intact Male                  59               59           59
                Neutered Male                 7                7            7
                Spayed Female                 6                6            6
                Unknown                     504              504          504
Euthanasia      Intact Female              1073             1073         1073
                Intact Male                1275             1275         1275
                Neutered Male               838              838          838
                Spayed Female               521              521          521
                Unknown                    5145             5145         5145
Missing         Intact Female                20               20           20
                Intact Male                  26               26           26
                Neutered Male                 7                7            7
                Spayed Female                14               14           14
                Unknown                       4                4            4
Relocate        Intact Female                 1                1            1
                Neutered Male                 1                1            1
                Spayed Female                 3                3            3
                Unknown                      20               20           20
Return to Owner Intact Female              2705             2705         2705
                Intact Male                3988             3988         3988
                Neutered Male              8938             8938         8938
                Spayed Female              6532             6532         6532
                Unknown                     180              180          180
Rto-Adopt       Intact Female                28               28           28
                Intact Male                  38               38           38
                Neutered Male               446              446          446
                Spayed Female               289              289          289
                Unknown                       1                1            1
Transfer        Intact Female             11011            11011        11011
                Intact Male               10017            10017        10017
                Neutered Male              7298             7298         7298
                Spayed Female              6202             6202         6202
                Unknown                    4333             4333         4333

                                  Age upon Outcome  Breed  Color
Outcome Type    Sex upon Outcome
Adoption        Intact Female                 1305   1305   1305
                Intact Male                   1134   1134   1134
                Neutered Male                29224  29224  29224
                Spayed Female                28517  28517  28517
                Unknown                        187    187    187
Died            Intact Female                  316    316    316
                Intact Male                    395    395    395
                Neutered Male                   99     99     99
                Spayed Female                   92     92     92
                Unknown                        354    354    354
Disposal        Intact Female                   36     36     36
                Intact Male                     59     59     59
                Neutered Male                    7      7      7
                Spayed Female                    6      6      6
                Unknown                        504    504    504
Euthanasia      Intact Female                 1073   1073   1073
                Intact Male                   1275   1275   1275
                Neutered Male                  838    838    838
                Spayed Female                  521    521    521
                Unknown                       5145   5145   5145
Missing         Intact Female                   20     20     20
                Intact Male                     26     26     26
                Neutered Male                    7      7      7
                Spayed Female                   14     14     14
                Unknown                          4      4      4
Relocate        Intact Female                    1      1      1
                Neutered Male                    1      1      1
                Spayed Female                    3      3      3
                Unknown                         20     20     20
Return to Owner Intact Female                 2705   2705   2705
                Intact Male                   3988   3988   3988
                Neutered Male                 8938   8938   8938
                Spayed Female                 6532   6532   6532
                Unknown                        180    180    180
Rto-Adopt       Intact Female                   28     28     28
                Intact Male                     38     38     38
                Neutered Male                  446    446    446
                Spayed Female                  289    289    289
                Unknown                          1      1      1
Transfer        Intact Female                11011  11011  11011
                Intact Male                  10017  10017  10017
                Neutered Male                 7298   7298   7298
                Spayed Female                 6202   6202   6202
                Unknown                       4333   4333   4333

In [52]:
animals.pivot_table(index='Outcome Type', columns = 'Sex upon Outcome', aggfunc=len)

                 Age upon Outcome                                          \
Sex upon Outcome    Intact Female Intact Male Neutered Male Spayed Female
Outcome Type
Adoption                   1305.0      1134.0       29224.0       28517.0
Died                        316.0       395.0          99.0          92.0
Disposal                     36.0        59.0           7.0           6.0
Euthanasia                 1073.0      1275.0         838.0         521.0
Missing                      20.0        26.0           7.0          14.0
Relocate                      1.0         NaN           1.0           3.0
Return to Owner            2705.0      3988.0        8938.0        6532.0
Rto-Adopt                    28.0        38.0         446.0         289.0
Transfer                  11011.0     10017.0        7298.0        6202.0

                             Animal ID                            \
Sex upon Outcome Unknown Intact Female Intact Male Neutered Male
Outcome Type
Adoption           187.0        1305.0      1134.0       29224.0
Died               354.0         316.0       395.0          99.0
Disposal           504.0          36.0        59.0           7.0
Euthanasia        5145.0        1073.0      1275.0         838.0
Missing              4.0          20.0        26.0           7.0
Relocate            20.0           1.0         NaN           1.0
Return to Owner    180.0        2705.0      3988.0        8938.0
Rto-Adopt            1.0          28.0        38.0         446.0
Transfer          4333.0       11011.0     10017.0        7298.0

                                        ...          Name              \
Sex upon Outcome Spayed Female Unknown  ... Intact Female Intact Male
Outcome Type                            ...
Adoption               28517.0   187.0  ...        1305.0      1134.0
Died                      92.0   354.0  ...         316.0       395.0
Disposal                   6.0   504.0  ...          36.0        59.0
Euthanasia               521.0  5145.0  ...        1073.0      1275.0
Missing                   14.0     4.0  ...          20.0        26.0
Relocate                   3.0    20.0  ...           1.0         NaN
Return to Owner         6532.0   180.0  ...        2705.0      3988.0
Rto-Adopt                289.0     1.0  ...          28.0        38.0
Transfer                6202.0  4333.0  ...       11011.0     10017.0

                                                     Outcome Subtype  \
Sex upon Outcome Neutered Male Spayed Female Unknown   Intact Female
Outcome Type
Adoption               29224.0       28517.0   187.0          1305.0
Died                      99.0          92.0   354.0           316.0
Disposal                   7.0           6.0   504.0            36.0
Euthanasia               838.0         521.0  5145.0          1073.0
Missing                    7.0          14.0     4.0            20.0
Relocate                   1.0           3.0    20.0             1.0
Return to Owner         8938.0        6532.0   180.0          2705.0
Rto-Adopt                446.0         289.0     1.0            28.0
Transfer                7298.0        6202.0  4333.0         11011.0


Sex upon Outcome Intact Male Neutered Male Spayed Female Unknown
Outcome Type
Adoption              1134.0       29224.0       28517.0   187.0
Died                   395.0          99.0          92.0   354.0
Disposal                59.0           7.0           6.0   504.0
Euthanasia            1275.0         838.0         521.0  5145.0
Missing                 26.0           7.0          14.0     4.0
Relocate                 NaN           1.0           3.0    20.0
Return to Owner       3988.0        8938.0        6532.0   180.0
Rto-Adopt               38.0         446.0         289.0     1.0
Transfer             10017.0        7298.0        6202.0  4333.0

[9 rows x 50 columns]